:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vmin;
    color:black;
    --main-colour: orange;
    --second-colour: white;
}   

body {
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(237, 191, 92) 0%, rgba(253,187,45,1) 70%);
}

#menu{
    margin: 0;
    position: absolute;
    top: 15px;
    left: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 1vh;
    flex-wrap:nowrap;
    justify-content: center;
}

#holder, #ff14Holder {
    min-width: 100vw;
    max-width: auto;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display:flex;
    flex-direction: row;
    margin:auto;
    margin-top: 1vh;
    flex-wrap:nowrap;
    justify-content: center;
}

#gridHolder, #gridHolderFF {
    height: 70vmin;
    width: 70vmin;

    border:white solid 2vmin;
    border-radius: 7px;

    background-color: white;
    justify-self: center;
}

#optionsHolder, #optionsHolderFF{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    background-color: none;
    width: fit-content;
    height: auto;
    margin-left: 4vmin;
}

#buttonHolder{
    background-color: white;
    border:white solid 2vmin;
    border-radius: 3px;
    width: 40vmin;
    height: auto;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

#resultsHolder, #resultsHolderFF{
    background-color: white;
    border:white solid 2vmin;
    border-radius: 3px;
    height: 13vmin;
    width: 40vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

select, button, input{  
    border: solid var(--main-colour) 2px;
    border-radius:3px;
    padding: 1px;
    height: 3vmin;
    max-height: 3vmin;
    min-height: 2.5vmin;
    max-width: 15vmin;
    margin: 1px;
    font-size: 2vmin;
}

select{
    max-width: 20vmin;
    padding: 0px;
    max-height: 3.2vmin;
    height: 3.2vmin;
}

input{
    width: 10vmin;
}

select::selection{
    border: solid rgb(0, 0, 0) 2px;
}

.text{
    width: fit-content;
}
.row, .rowFF{
display:flex;
flex-direction: row;
flex-wrap: nowrap;

 background-color: none;
 width: 70vmin;
 height: 1vmin;
}

.tile, .tileFF{
    background-color: white;
    border: solid var(--main-colour) 1px;
} 

.tile:hover, .tileFF:hover{
    transition: 200ms;
    background-color: grey;
}